@*  Error.cshtml
    Ha a GET hívásokban hiba történik, akkor ezen érdemes megmutatni a hibaüzeneteket.
*@

@model Vrh.iScheduler.iScheduler

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>@Html.Raw(ViewBag.Header)</h2>
    </div>
    <div class="panel-body" id="ischedulerpanel">
        @foreach (var item in Model.ErrorList)
        {
            <div style="font-size:larger;">@Html.Raw(item)</div>
        }
    </div>
</div>
