<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.13" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="VRH.Common" version="2.10.0" targetFramework="net452" />
  <package id="Vrh.Logger" version="2.0.2" targetFramework="net451" />
  <package id="Vrh.XmlProcessing" version="1.5.8" targetFramework="net451" />
</packages>