.row-custom {
    padding-top: 5px;
    padding-bottom: 5px;
}

#PackageIsActive {
    width: 38px;
    margin-top: -1px;
}

#packageitemtable {
    border: 2px groove lightgray;
}

#packageitemtable th {
    vertical-align: middle;
}
