<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Runtime.Latest" version="0.8.31.3" targetFramework="4.5.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net451" />
  <package id="Vrh.ApplicationContainer" version="1.1.5" targetFramework="net451" />
  <package id="VRH.Common" version="2.7.0" targetFramework="net451" />
  <package id="VRH.ConnectionStringStore" version="2.2.3" targetFramework="net451" />
  <package id="Vrh.LinqXMLProcessor.Base" version="1.2.4" targetFramework="net451" />
  <package id="VRH.Log4Pro.MultiLanguageManager" version="2.1.5" targetFramework="net451" />
  <package id="Vrh.Logger" version="1.5.7" targetFramework="net451" />
  <package id="VRH.Mockable.TimeProvider" version="1.0.0" targetFramework="net451" />
  <package id="Vrh.Redis.DataPoolHandler" version="1.10.3" targetFramework="net451" />
  <package id="Vrh.Web.Common.Lib" version="1.11.1" targetFramework="net451" />
</packages>