<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="DTMInterventionService" transferMode="Streamed">
                    <security mode="None"/>
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/DTMInterventionService" binding="netNamedPipeBinding" bindingConfiguration="DTMInterventionService" contract="InterventionService.IInterventionService" name="DTMInterventionService">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
