<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Runtime.Latest" version="0.8.31.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Vrh.ApplicationContainer" version="1.0.0" targetFramework="net47" />
  <package id="VRH.Common" version="1.13.0" targetFramework="net47" />
  <package id="Vrh.LinqXMLProcessor.Base" version="1.2.3" targetFramework="net47" />
  <package id="Vrh.Logger" version="1.4.0" targetFramework="net47" />
</packages>